<ion-view title="Estacionamientos" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="estacionamientos-card2">
            <div class="item item-divider">Mapa</div>
            <div class="item item-body">
                <div scroll="false" id="mapiframe">
                  <leaflet id="map" lf-center="center" height="480px" width="640px" style="position:inherit"></leaflet>
                </div>
            </div>
            <div class="item item-divider">Disponibles</div>
        </div>
    </ion-content>
</ion-view>
